.addproducts{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:560px) {
   .addproducts label{
    font-size: 70%;
   } 
   .addproducts input{
    font-size: 80%;
   }
   .addproducts button{
    padding: 5px;
   }
    
}