.navbar{
position: sticky;
top: 0;
   padding: 0;
}
 




.userinfo h6{
    color: rgba(0, 0, 0, 0.418);
}
.userinfo h6 span{
    color: rgba(255, 255, 255, 0.7);
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}