.deletproducts{
    width: 90%;
    min-height: 60vh;
    margin: 100px auto;
    color: white;
    background-color: black;
    border-radius: 10px;
}
.deletproducts button{
    min-width: 150px;
    margin: 3px;
}


.confirmdelete{
    width: 60vw;
    color: white;
    background-color: black;
    padding: 1.5rem;
    border-radius: 5px;
    transform: translateY(-50%);
}
.confirmdelete span{
    color: red;
}
.confirmdelete button{
    margin: 1rem;
}